body{

font-family: Georgia, serif;
background:#f5efe6;
color:#1c1c1c;
margin:0;
line-height:1.7;

}


/* HEADER */

header{

background:#5a3e36;
color:white;
text-align:center;
padding:90px 20px;

}

header h1{

margin:0;
font-size:42px;

}

header p{

color:#e7d9cc;
}


/* SECTION */

section{

max-width:850px;
margin:auto;
padding:50px 25px;

}


/* TITLE */

h2{

border-left:6px solid #8b6b61;
padding-left:10px;

}


/* PROFILE */

.profile{

background:#ffffff;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.08);

}


/* BLOG CARD */

.post{

background:white;
padding:28px;
margin-top:25px;
border-radius:12px;

box-shadow:0 5px 12px rgba(0,0,0,0.08);

transition:0.3s;

}


.post:hover{

transform:translateY(-6px);
box-shadow:0 10px 20px rgba(0,0,0,0.15);

}


.post h3{

margin-top:0;
color:#5a3e36;

}


/* FOOTER */

footer{

background:#1c1c1c;
color:white;
text-align:center;
padding:25px;
margin-top:50px;

}
.avatar{

width:140px;
height:140px;

border-radius:50%;

object-fit:cover;

display:block;

margin-bottom:20px;

border:4px solid #8b6b61;

}
body{
font-family: "Segoe UI", sans-serif;
}